@using BlazorWebApp.Data
@using Microsoft.AspNetCore.Identity


@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager


<h3>ProfileInfo</h3>
@* <section class="account-profileinfo" id="account-profileinfo">
    <div class="profile">
        <div class="image">
            <img src="@(user.UserProfile?.ProfileImage != null ? $"/uploads/{user.UserProfile.ProfileImage}" : placeholderImage)" alt="profile image" />
        </div>
        <form enctype="multipart/form-data" method="post" asp-action="UploadImage" asp-controller="Account">
            <input id="upload-file" type="file" name="file" hidden />
            <label for="upload-file" class="btn-cirkle"><i class="fa-regular fa-refresh"></i></label>
        </form>
    </div>
    <div class="info">
        <h3 class="display-name">@user.UserProfile!.FirstName @user.UserProfile!.LastName</h3>
        <p class="email">@user.Email</p>
    </div>
</section> *@


@code {
    // private string placeholderImage = "/images/profile-image.svg";


    // private ApplicationUser user = default!;

    // [CascadingParameter]
    // private HttpContext HttpContext { get; set; } = default!;

    // protected override async Task OnInitializedAsync()
    // {
    //     profileInfo = await UserAccessor.GetRequiredUserAsync(HttpContext);
    // }



}
