<section id="work-tools" class="work-tools">
    <div class="container">
        <h1>Integrate Top Work Tools</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        <div class="tools">

            <NavLink href="/tools" class="box">
                <img src="/images/icons/Google-logo.svg" alt="">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </NavLink>

            <NavLink href="/tools" class="box">
                <img src="/images/icons/Zoom-logo.svg" alt="">
                <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </NavLink>

            <NavLink href="/tools" class="box">
                <img src="/images/icons/Slack_Mark.svg" alt="">
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </NavLink>

            <NavLink href="/tools" class="box">
                <img src="/images/icons/gmail.svg" alt="">
                <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </NavLink>

            <NavLink href="/tools" class="box">
                <img src="/images/icons/Trello-logo.svg" alt="">
                <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </NavLink>

            <NavLink href="/tools" class="box">
                <img src="/images/icons/MailChimp.svg" alt="">
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </NavLink>

            <NavLink href="/tools" class="box">
                <img src="/images/icons/Dropbox.svg" alt="">
                <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </NavLink>

            <NavLink href="/tools" class="box">
                <img src="/images/icons/Evernote.svg" alt="">
                <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </NavLink>

        </div>
    </div>
</section>

@code {

}
