

<section class="admin-portal">
    <div class="container">
        <div>
            <h1>Admin Portal</h1>
            <p>Welcome to the Admin Portal</p>
        </div>
        <div class="admin-links">
            <NavLink href="/admin/courses">Administrate Courses</NavLink>
            <NavLink href="/admin/users">Administrate Users</NavLink>
            <NavLink href="/admin/roles">Administrate Roles</NavLink>
            <NavLink href="/admin/newsletter">Administrate Newsletter</NavLink>
        </div>
    </div>
</section>

@code {

}

