@page "/admin"
@attribute [Authorize(Roles = "Admin, SuperDuperMegaAdmin")]

<section id="admin-portal-index"> 
    <div>
        <h1>Welcome to the Admin Portal</h1>
        <p><em>Choose the service you want to administer in the menu to the left.</em></p>
    </div>
</section>

@code {

}
