@page "/admin"

<section class="admin-portal"> 
    <div class="container">
        <div>
            <h1>Admin Portal</h1>
            <p>Welcome to the Admin Portal</p>
        </div>
    </div>
</section>

@code {

}
