@page "/admin/courses"

<PageTitle>AdminPortal - Courses</PageTitle>

<section id="admin-courses">

    <h3>Admin Courses</h3>

    <div> 
        <p>
            On this page, you can administer all of your the courses. You can create a new course, update details of existing ones, and delete courses that are no longer needed. This comprehensive course management system allows you to efficiently handle all aspects of course administration, ensuring that your web page remains up-to-date and relevant.
        </p>
    </div>
    <div class="buttons">
        <a class="btn-theme btn-admin" href="/admin/allcourses" >Display all</a>
        <a class="btn-theme btn-admin" href="/admin/createcourse">Create New</a>
        <a class="btn-theme btn-admin" href="/admin/createcourse">Update or delete</a>
    </div>

</section>



@code {

}
