.chat-bubble-right {
    text-align: right;
    background-color: #d1ffd6;
    margin-left: auto;
    border-radius: 15px;
    padding: 10px;
    max-width: 75%;
}

.chat-bubble-left {
    text-align: left;
    background-color: #ffffff;
    margin-right: auto;
    border-radius: 15px;
    padding: 10px;
    max-width: 75%;
}