<section id="skills">
    <div class="container">
        <div class="section-title">
            <p class="lead">Ready to get started?</p>
            <h1 class="h1">Take Your <span class="purple">Skills</span> to the Next Level</h1>
            <button class="btn-theme" href="#">Work with us</button>
        </div>
        <div class="image">
            <img src="/images/animated_workspace.svg" />
        </div>
    </div>
</section>
@code {

}
