@page "/chat"
@rendermode InteractiveAuto

@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>Silicon Chat</PageTitle>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">Silicon Chat Hub</div>
            <div class="card-body">
                <ul class="list-group">
                    @foreach (var message in messages)
                    {
                        <li class="mb-3 list-group-item @(message.UserName == userName ? "chat-bubble-right" : "chat-bubble-left")">
                            <div>
                                <strong>@message.UserName</strong> <span>@message.Created.ToString("HH:mm")</span>
                            </div>
                            <div>@message.Message</div>
                        </li> 
                    }
                </ul>

                <div class="mt-3" style="height: 20px;">
                    @if (!string.IsNullOrEmpty(typingUser))
                    {
                        <div>@typingUser is typing<span class="typing-indicator">...</span></div>
                    }
                </div>
                <div class="card-footer">
                    <div class="mt-2">
                        <textarea class="form-control" placeholder="Message" @bind="currentMessage" @oninput="NotifyTyping"></textarea>
                    </div>
                    <div class="col-2 my-3">
                        <button class="btn btn-success w-100" @onclick="Send">Send Message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private HubConnection? hubConnection;
    private bool isConnected => hubConnection?.State == HubConnectionState.Connected;
    private List<ChatMessage> messages = new();
    private string? userName;
    private string? currentMessage;
    private string? typingUser;
    private System.Timers.Timer? typingTimer;


    public class ChatMessage
    {
        public string? Message { get; set; }
        public string? UserName { get; set; }
        public DateTime Created { get; set; } = DateTime.Now;
    }

    private async Task NotifyTyping() => await hubConnection!.SendAsync("Typing", userName);

    private async Task Send()
    {
        var newMessage = new ChatMessage { UserName = userName, Message = currentMessage, Created = DateTime.Now };
        messages.Add(newMessage);

        await hubConnection!.SendAsync("SendMessageToAll", newMessage.UserName, newMessage.Message, newMessage.Created);

        currentMessage = string.Empty;
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated ?? false)
        {
            userName = user.Identity?.Name;
        }
        else
        {
            userName = "Anonymous";
        }

        hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/chatHub")).Build();

        hubConnection.On<string, string?, string, DateTime>("ReceiveMessage", (fromUser, ToUser, message, dateTime) =>
        {
            var newMessage = new ChatMessage { UserName = fromUser, Message = message, Created = dateTime };
            messages.Add(newMessage);
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<string>("UserTyping", (typingUserName) =>
        {
            typingUser = typingUserName;
            InvokeAsync(StateHasChanged);

            typingTimer?.Stop();
            typingTimer = new System.Timers.Timer(2000);
            typingTimer.Elapsed += (sender, e) =>
            {
                typingUser = null;
                InvokeAsync(StateHasChanged);
            };

            typingTimer.Start();
        });

        await hubConnection.StartAsync();
    }
}
