

<nav class="account-nav">
    <NavLink class="btn-account-nav" href="admin" Match="NavLinkMatch.All"><i class=" fa-regular fa-gear"></i> Admin Portal</NavLink>
    <NavLink class="btn-account-nav" href="admin/courses"><i class="fa-regular fa-book-open"></i> Administrate Courses</NavLink>
    <NavLink class="btn-account-nav" href="admin/users"><i class="fa-regular fa-users"></i> Administrate Users</NavLink>
    <NavLink class="btn-account-nav" href="admin/roles"><i class="fa-regular fa-key"></i> Administrate Roles</NavLink>
    <NavLink class="btn-account-nav" href="admin/newsletter"><i class="fa-regular fa-envelopes-bulk"></i> Administrate Newsletter</NavLink>
</nav>
@code {

}
