
@inherits LayoutComponentBase

@inject ThemeService ThemeService

<CascadingValue Value="ThemeService.GetTheme" Name="Theme">
    <CascadingValue Value="ThemeService.ToggleTheme" Name="ToggleTheme">
        <div class="wrapper @ThemeService.GetTheme()">
            <Header />
            @Body
            <Footer />
        </div>
    </CascadingValue>
</CascadingValue>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


