@using BlazorWebApp.Data
@using BlazorWebApp.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@inherits LayoutComponentBase
@layout AccountLayout

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationDbContext DbContext
@inject UserService UserService

<CascadingValue Value="user">
    <div class="wrapper">
        <section class="account-layout" id="account-layout">
            <div class="container">
                <aside>
                    <ProfileAvatar />
                    <ManageNavMenu />
                </aside>
                <main>
                    @Body
                </main>
            </div>
        </section>
    </div>
</CascadingValue>



@code {
    private ApplicationUser user = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserService.GetCurrentUserAsync(HttpContext);
    }

}