
@inherits LayoutComponentBase
@layout AccountLayout



<section class="account-layout" id="account-layout">
    <div class="container">
        <aside>
@*                 <ProfileInfo /> *@
            <ManageNavMenu />
        </aside>
        <main>
            @Body
        </main>
    </div>
</section>

