#account-profileinfo {
    padding-top: 30px;



    .profile {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;

        .image {
            border-radius: 50%;


            img {
                height: 140px;
                width: 140px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

/*        form {
            position: absolute;
            z-index: 1;
            left: 60%;
            bottom: 0;


            @include lg {
                left: 54%;
            }

            @include xl {
                left: 60%;
            }
        }*/
    }

    .info {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
