#admin-courses {

    padding-top: 2rem;

    h3 {
        padding-bottom: 1rem;
    }
        

    .buttons {
        padding-top:4rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0 20rem 0 20rem;

        .btn-admin{
            padding:1rem 0 1rem 0;
        }
    }
}
