#createcourse {
    margin-top: 4rem;

    h2 {
        text-align: center;
    }

    form {
        h4 {
            text-align: center;
            margin-top: 2rem;
        }

        .course-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 15px;

            @include xl {
                display: grid;
                gap: 1rem 2rem;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "coursetitle coursetitle" "courseprice coursediscount" "courseimage courseimagealt" "courserating coursereviews" "courselikespercent courselikesnumbers" "courseviews . ";
            }

            #coursetitle {
                grid-area: coursetitle;
            }

            #courseprice {
                grid-area: courseprice;
            }

            #coursediscount {
                grid-area: coursediscount;
            }

            #courseimage {
                grid-area: courseimage;
            }

            #courseimagealt {
                grid-area: courseimagealt;
            }

            #courserating {
                grid-area: courserating;
            }

            #coursereviews {
                grid-area: coursereviews;
            }

            #courseviews {
                grid-area: courseviews;
            }

            #courselikespercent {
                grid-area: courselikespercent;
            }

            #courselikesnumbers {
                grid-area: courselikesnumbers;
            }
        }

        .author-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 15px;

            @include xl {
                display: grid;
                gap: 1rem 2rem;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "courseauthorname courseauthorname" "courseauthorbio courseauthorbio" "courseauthorimage courseauthorimagealt" "courseyoutube coursefacebook";
            }

            #courseauthorname {
                grid-area: courseauthorname;
            }

            #courseauthorbio {
                grid-area: courseauthorbio;
            }

            #courseauthorimage {
                grid-area: courseauthorimage;
            }

            #courseauthorimagealt {
                grid-area: courseauthorimagealt;
            }

            #courseyoutube {
                grid-area: courseyoutube;
            }

            #coursefacebook {
                grid-area: coursefacebook;
            }
        }

        .course-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 15px;

            @include xl {
                display: grid;
                gap: 1rem 2rem;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "coursecategory courseshowcaseimage" "coursedescription coursedescription" "courseviewhours coursearticles" "courseresources courseaccesstime" "courseprogramtitle courseprogramtitle" "courseprogramtext courseprogramtext" "courselearnpoints courselearnpoints";
            }

            #courseshowcaseimage {
                grid-area: courseshowcaseimage;
            }

            #coursedescription {
                grid-area: coursedescription;
            }

            #courseviewhours {
                grid-area: courseviewhours;
            }

            #coursearticles {
                grid-area: coursearticles;
            }

            #courseresources {
                grid-area: courseresources;
            }

            #courseaccesstime {
                grid-area: courseaccesstime;
            }

            #courseprogramtitle {
                grid-area: courseprogramtitle;
            }

            #courseprogramtext {
                grid-area: courseprogramtext;
            }

            #courselearnpoints {
                grid-area: courselearnpoints;
            }

            #coursecategory {
                grid-area: coursecategory;
            }
        }

        .btn-gray {
            max-width: 40%;
            border-radius: 6px;
            margin-top: 0.5rem;

            @include md {
                max-width: 20%;
            }
        }

        .btn-theme {
            margin-top: 1rem;
        }

        span {
            margin-top: 1rem;
        }
    }
}
