#course-description {
    html, body {
        background-color: var(--color-gray-001);
    }

    .course-content {
        @include xxxl {
            padding-top: 100px;
        }

        .description-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;


            @include lg {
                display: grid;
                grid-template-columns: 2fr 1fr;
            }

            .learn-points {
                width: 85%;

                .description {
                    p:nth-child(1) {
                        color: var(--color-gray-900);
                        font-size: 40px;
                        font-weight: 800;
                    }

                    p:nth-child(2) {
                        margin-top: 40px;
                    }
                }

                .learn {
                    p:nth-child(1) {
                        color: var(--color-gray-900);
                        font-size: 28px;
                        font-weight: 800;
                        margin-top: 50px;
                        margin-bottom: 30px;
                    }

                    .list {
                        padding: 0px;

                        li:not(:last-child) {
                            margin-bottom: 10px;
                        }

                        i {
                            color: var(--color-theme);
                        }
                    }
                }
            }

            .course-info {
                .course-box {
                    box-shadow: 0 3px 10px #0000000f, 0 4px 5px #0000000c;
                    border-radius: 1.1rem;
                    overflow: hidden;
                    border: 1px solid var(--color-gray-300);
                    width: 430px;
                    padding: 50px 50px 35px 50px;
                    margin-top: 50px;


                    .title {
                        font-size: 24px;
                        color: var(--color-gray-900);
                        font-weight: 800;
                        margin-bottom: 30px;
                    }

                    .course-price {
                        display: flex;
                        gap: 15px;
                        padding-top: 30px;
                        margin-bottom: 5px;

                        .discount-price {
                            font-size: 32px;
                            color: var(--color-gray-900);
                            font-weight: 800;
                        }

                        .ord-price {
                            text-decoration: line-through;
                            color: var(--color-gray-600);
                            font-size: 20px;
                        }
                    }

                    a {
                        width: fit-content;
                        padding-left: 30px;
                        padding-right: 30px;
                    }

                    i {
                        margin-right: 10px;
                    }
                }
            }
        }

        .details-section {
            padding-top: 50px;
            padding-bottom: 80px;

            @include xxl {
                width: 52%;
            }

            .details-title {
                font-size: 40px;
                font-weight: 800;
                color: var(--color-gray-900);
                margin-bottom: 60px;
                margin-top: 60px;
            }

            .detail-list {
                counter-reset: point;
                list-style: none;
                margin-left: 40px;
                padding-left: 90px;

                @include xxl {
                    border-left: 1px solid var(--color-gray-300);
                }


                .title {
                    font-size: 24px;
                    font-weight: 800;
                    color: var(--color-gray-900);
                }

                .item {
                    counter-increment: point;
                    position: relative;
                    margin-top: 40px;
                }

                .item::before {
                    content: counter(point);
                    position: absolute;
                    right: 110%;
                    color: var(--color-gray-900);
                    width: 72px;
                    height: 72px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    background-color: var(--color-white);
                    border: 12px solid #F3F6FF;
                    border-radius: 50%;
                }
            }
        }
    }
}
