.contact-header {
    background-color: var(--color-gray-100);
}

header {
    padding: 15px 0;
    background-color: var(--color-gray-000);
    position: relative;



    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo mobile";
        gap: 40px;

        @include lg {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo menu switch buttons";
        }

        #logo {
            grid-area: logo;


            @include lg {
                display: block;
            }
        }

        #menu {
            grid-area: menu;
            display: none;

            @include lg {
                display: block;
            }

            nav {
                display: flex;
                gap: 15px;
            }
        }

        .btn-switch {
            grid-area: switch;
            display: none;

            @include lg {
                display: block;
            }
        }

        .account-buttons {
            grid-area: buttons;
            display: none;
            gap: 15px;

            @include lg {
                display: flex;
            }

            .account-shortcut {
                img {
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                }

                &:hover {
                    transform: scale(1.3);
                }
            }
        }

        .btn-mobilemenu {
            grid-area: mobile;
            display: block;
            transition: ease 0.3s;

            @include lg {
                display: none;
            }
        }
    }

    #mobile-menu {
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        background-color: var(--color-gray-100);
        position: absolute;
        z-index: 10;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out, visibility 0s 0.3s;
        @include shadow-l;

        &.open {
            opacity: 1;
            visibility: visible;

            transform: scaleY(1);
            transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
        }

        nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            padding: 15px;
            width: 100%;
        }

        .account-shortcut {
            img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                object-fit: cover;
            }
        }
    }
}
