#signin {
    height: 100%;
    background-color: var(--color-gray-000);


    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include lg {
            width: 50%;
        }

        @include xl {
            width: 30%;
        }

        .error-message {
            padding: 10px 40px;
            color: var(--color-gray-800);
            background-color: var(--color-weak-danger);
            border: 1px solid var(--color-danger) !important;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
        }

        form {
            padding: 1rem;

            .content {
                display: grid;
                gap: 1rem 2rem;
                grid-template-columns: 1fr;
                grid-template-areas: "email" "password" "remember" "button" "forgot" "external";


                #form-email {
                    grid-area: email;
                }

                #form-password {
                    grid-area: password;
                }

                #form-remember {
                    grid-area: remember;
                    padding: 1rem 0;
                }

                #form-button {
                    grid-area: button;
                }

                #form-forgot-password {
                    grid-area: forgot;
                    margin: 1rem 0 0 0;
                    text-align: center;
                }

                .external-providers {
                    grid-area: external;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-top: 1px solid var(--color-gray-300);
                    gap: 1rem;
                    margin-top: 15px;

                    h6 {
                        margin-top: 30px;
                    }

                    .providers {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        @include md {
                            flex-direction: row;
                        }
                    }
                }
            }
        }
    }
}
