.work-tools {
    background-color: var(--color-gray-000);
    padding: 80px 0;

    .container {
        display: grid;
        justify-content: center;
        text-align: center;

        .tools {
            margin-top: 20px;
            display: grid;

            @include lg {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            .box {
                padding: 20px;
                border-radius: 12px;
                transition: all 0.3s ease-in-out;
                text-align: center;

                @include lg {
                    text-align: start;
                }

                &:hover {
                    transition: all 0.15s ease-in-out;
                    cursor: pointer;
                    background: var(--color-gray-100);
                    @include shadow-m;
                    text-decoration: none;
                }

                img {
                    padding: 10px;
                    background-color: var(--color-gray-100);
                    margin-bottom: 20px;
                    border-radius: 8px;
                }


                p {
                    @include text-m;

                    @include lg {
                        margin-right: 25px;
                    }
                }
            }
        }
    }
}
